
  nav{
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

  }
  #search-box{
    all: unset;
    width: 11vw;
    height: 2.1vw; 
  }
  #search-icon{
    padding: 0.2vw 0.6vw 0 0.6vw;
  }
  .search-div{
    background-color:rgb(223, 222, 222); 
    border-radius: 5px;
    margin: 0 17vw 0 3vw;
  }

  .navicon{
    margin:0 0 0 2vw;
    cursor: pointer;
    width: 3vw;
    height: 3vw;

  }

  .link-list{
    display: flex;
    width: 30vw;
    justify-content: space-around;
  }

  
  #check{
    display: none;
  }

  .checkbtn{
    display: none;
  }

    .discoveryzone{
      background-color: black;
      color: #fff;
      padding: 0.5vw 1.5vw;
      border-radius: 5px;
      font-size: 0.9rem;
      margin-right: 3vw;
    }
    .profile-div{
      display: flex;
      align-items: center;
    }
    #profile-img{
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }
    .profile-name{ 
      font-size: 1.1rem;
    }
    .logo{
      display: none;
    }

 
  @media (max-width: 875px){

    .discoveryzone ,.search-div,.profile-div,.link-list,.navicon{
      display: none;
    }
    .logo{
      all: unset;
      width: 25vw;
      height: 8vw;
      margin-left: 20px;
      margin-top: -7px;
    }
    .checkbtn{
      display: flex;
      font-size: 1.6rem;
      margin-left: 15px;
      cursor: pointer;
    }
    

  }